.entry-content {
  width: 1200px;
}

.gutenexp-pricing-one {
  width: 100%;
  text-align: center;
  background: #f4f4f5;
  padding: 25px;
}

.gutenexp-pricing-one h4 {
  margin: 0 0 10px;
}

.gutenexp-pricing-one h2 {
  margin: 0 0 10px;
}

.gutenexp-pricing-one p {
  margin: 0 0 15px;
}

.gutenexp-pricing-one a {
  display: inline-block;
  padding: 10px 20px;
  margin-top: 10px;
  color: #fff !important;
  border: 3px solid transparent;
  transition: 0.4s;
}

.gutenexp-pricing-one a:hover {
  border: 2px solid #fff;
}

.gutenexp-pricing-one a:focus {
  border: none !important;
  outline: none !important;
}

.gutenexp-pricing-one ul {
  margin: 0 auto !important;
  width: 267px;
}

.gutenexp-pricing-one ul li {
  text-align: left;
  padding-left: 8px;
}

.gutenexpSlider {
  background-color: #ddd;
  width: 610px;
  height: 350px;
}
.card-block {
  width: 610px;
  height: 350px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #ddd;
  text-align: center;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.card-block .components-button {
  width: 92px;
  height: 30px;
  background: #fff;
  font-size: 14px;
}
.card-block .components-button span {
  font-size: 15px;
  margin: 5px 5px 0px 0px;
}

.card-block a {
  display: inline-block;
}
